button{
    width: 10rem;
    height: 3rem;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    background-color: var(--accent);
    background-color:#3575ff ;
    color: #ffffff;
    transition: all 0.2s;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 20px;
    
}

button:hover {
    background-color: #0753f6;
    transform: scale(1.01);
}

input {
    font-family: "Roboto";
    margin: 10px;
    font-size: 1.1rem;
    width: 16rem;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
    /* background-color: var(--secondary); */
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
  }
  
input:focus {
    border: 1px solid var(--accent);
}